@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{
    background: url(../img/img_arkham/fondo\ de\ pantalla_jpg.png);
}

/*ENCABEZADO*/
#encabezado_arkham{
    width: 100%;
    height: 210px;
    background: rgb(15, 15, 15);
}
/*ENCABEZADO*/


/*LOGO_ENCABEZADO*/
#img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;}
/*LOGO_ENCABEZADO*/


/*MENU PRINCIPAL*/
#menu_arkham ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu_arkham ul li{
    float: left;
}
#menu_arkham a{
    color: rgb(250, 248, 252);
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    font-size: 1.5vw;
    font-family:"Oswald";

    margin: auto;
    margin-right: auto;
}
#menu_arkham{
    background: rgb(10, 10, 10);
    display: block;
    margin: auto;
    margin-right: auto;
    height: 50px;

}
#menu_arkham a:hover{
    color: rgb(255, 0, 0);
    background: rgb(44, 44, 44);
}
#img_central_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;}
/*MENU PRINCIPAL*/


/*BANNER*/
#banner_arkham{
    max-width: 1200px;
    min-height: 170px;
    background: rgb(180, 172, 199);
    margin: 0 auto;}
/*BANNER*/

/*CONTENEDOR*/
#contenedor_arkham{
    max-width: 1200px;
    min-height: 5500px;
    background:rgb(180, 172, 199);
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;}

/*CONTENIDO*/ 
#contenedor_arkham{    
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-family: "Oswald";
    font-size: 23px; 
    text-align: justify;}

.img_izq{
    float: left;
    margin-right: 15px;}

h1{color: black;
    font-family: "Oswald";
}
/*CONTENIDO*/  
/*CONTENEDOR*/


/*PIE DE PAGINA*/ 
footer{
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100px;
    background: rgb(99, 99, 99);
    padding: 20px;
    text-align: center;
    color: white;
    
}
#logo-m{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*PIE DE PAGINA*/ 




